@charset "UTF-8";

.label{
	font-size: 1.5rem; 
	font-weight: 500; 
	color: #344357;
	margin-right: 1rem;
	vertical-align: middle;
}
.Input {
  	display: flex;
  	flex-direction: row;
  	justify-content:  flex-start;
  	align-items: center;
  	padding-bottom: 1rem;
}@charset "UTF-8";

.label{
	font-size: 1.5rem; 
	font-weight: 500; 
	color: #344357;
	margin-right: 1rem;
	vertical-align: middle;
}
.Input {
  	display: flex;
  	flex-direction: row;
  	justify-content:  flex-start;
  	align-items: center;
  	padding-bottom: 1rem;
}
.unit{
	margin-left: 0.5rem;
	font-size: 1rem;
	color: black;
}
.myHeader{
	padding: 1rem;
	margin-bottom: 3rem;
}
.myHeader-text{
	display: flex;
  	flex-direction: row;
  	justify-content:  flex-start;
  	align-items: center;
}
.myHeader-text-item{
	margin: 0 3rem;
}
.myTable-fileinf{
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	display: none;
}
.head{
	width: 30%;
	font-weight: 700;
}
.data{
	width: 70%;
}
.tableText{
	font-size: 1.5rem; 
	font-weight: 500; 
	color: #bfc7c9;
	text-align: center;
}
.svgimg{
    height: 3rem;
	width: 3rem;
	display: block;
  	margin: 0 auto;
}
.svgimgAdd{
	height: 3rem;
	width: 3rem;
	display: block;
  	margin: 0 auto 1rem;
}
.svgCaption{
	color: #8094ae; 
	font-size: 0.7rem;
	max-width: 6rem;
	vertical-align: middle;
	text-align: center;
}
.imgbtn { 
	display: inline-block;  
	cursor: pointer; 
	user-select: none; 
	background-color: none; 
	border: none;	
	height: 3rem;
	width: 3rem;
}
.imgbtn:active, .imgbtn:focus {
	outline: none;
}
#addTempl, #addJson, #ResFile, #processJson, #errorJson, #successTempl, #processTempl, #errorTempl, #processTemplInf, #processFileInf, #successJson  {
  display: none;
}
label {
  margin-bottom: 0;
}
body {
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
footer {
  flex-shrink: 0;
  margin-top: 1rem;
}




.myTestTable{
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	display: block;
}
.tableSvg{
	height: 2rem;
	width: 2rem;
}
.flextabletpl{
	display: flex;
  	flex-direction: row;
  	justify-content:  space-around;
  	align-items: center;
}





.unit{
	margin-left: 0.5rem;
	font-size: 1rem;
	color: black;
}
.myHeader{
	padding: 1rem;
	/*margin-bottom: 3rem;*/
}
.myHeader-text{
	display: flex;
  	flex-direction: row;
  	justify-content:  flex-start;
  	align-items: center;
}
.myHeader-text-item{
	margin: 0 3rem;
}
.myTable-fileinf{
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	display: none;
}
.head{
	width: 30%;
	font-weight: 700;
}
.data{
	width: 70%;
}
.tableText{
	font-size: 1.5rem; 
	font-weight: 500; 
	color: #bfc7c9;
	text-align: center;
}
.svgimg{
    height: 3rem;
	width: 3rem;
	display: block;
  	margin: 0 auto;
}
.svgimgAdd{
	height: 3rem;
	width: 3rem;
	display: block;
  	margin: 0 auto 1rem;
}
.svgCaption{
	color: #8094ae; 
	font-size: 0.7rem;
	max-width: 6rem;
	vertical-align: middle;
	text-align: center;
}
.imgbtn { 
	display: inline-block;  
	cursor: pointer; 
	user-select: none; 
	background-color: none; 
	border: none;	
	height: 3rem;
	width: 3rem;
}
.imgbtn:active, .imgbtn:focus {
	outline: none;
}
#addTempl, #addJson, #ResFile, #processJson, #errorJson, #successTempl, #processTempl, #errorTempl, #processTemplInf, #processFileInf, #successJson  {
  display: none;
}
label {
  margin-bottom: 0;
}
body {
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
footer {
  flex-shrink: 0;
  margin-top: 1rem;
}



.myTestTable{
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	display: block;
}
.tableSvg{
	height: 2rem;
	width: 2rem;
}
.flextabletpl{
	display: flex;
  	flex-direction: row;
  	justify-content:  space-around;
  	align-items: center;
}




